---
import Common from "../components/Common.astro"
export const CLIENTID = "xQDd1RzlrR2qoDIQvmdASG"
export const CLIENTSECRET = "OmHSL6B0HHnUSNpROhmHQF9i1u45ELIbs0dvfrKoMuO"
export const REDIRECT_URI = "https://my-linenotify.vercel.app/redirect"

export const AUTH_GET_ENDPOINT = "https://notify-bot.line.me/oauth/authorize"
const param = `response_type=code&client_id=${CLIENTID}&redirect_uri=${REDIRECT_URI}&scope=notify&state=state&response_mode=form_post`
const AUTH_GET_REQUEST = AUTH_GET_ENDPOINT + "?" + param
---
<Common 
    pageTitle="Astroを使ったLINE連携"
/>
    <main class="container flex-col flex mx-auto">
        <header class="p-5 bg-gray-400 w-full">テスト</header>
        <section class="container mx-auto p-3">
            <h2 class="text-3xl text-green-500 font-bold text-center">LINEログイン認証</h2>
            <a href={AUTH_GET_REQUEST} target="_blank" class="btn bg-blue-600 flex justify-center p-2 mt-4 rounded-2xl text-white hover:bg-blue-200 hover:text-blue-700 transition-shadow lg:w-52 lg:mx-auto">ここからログインする</a>
        </section>
        <footer class="p-5 bg-blue-500 w-full">フッター</footer>
    </main>