---
export const clientID = "OnPYNkoqPNa1r";
export const clientSECRET = "zM]lbkZVuDv4Sy=GfICYZudy4.!SXitR"
export const redirectURI = "https://my-linenotify.vercel.app/redirect"


const url = Astro.request.url
const getAPI = `https://www.chatwork.com/packages/oauth2/login.php?response_type=code&client_id=${clientID}&redirect_uri=${redirectURI}&scope=rooms.all:read_write%20users.profile.me:read`
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<a href="https://www.chatwork.com/packages/oauth2/login.php" target="_blank">LINE認証</a>
		<p>{url}</p>
	</body>
</html>
