---
import {redirectURI, clientID, clientSECRET} from "./index.astro"
const url = Astro.request.url

// let code = '';

// if (Astro.request.method === 'POST') {
// 	const formData = await Astro.request.formData();
// 	const codeValue = formData.get('code');
// 	if (codeValue !== null) {
// 		code = codeValue.toString();
// 	}
// }

// const postAPI_URL = "https://notify-bot.line.me/oauth/token"
// let options = {
// 	method: "POST",
// 	headers: {
// 		"Content-Type": "application/x-www-form-urlencoded",
// 	},
// 	grant_type:"authorization_code",
// 	code: code,
// 	redirect_uri: redirectURI,
// 	client_id:clientID,
// 	client_secret:clientSECRET
// };
// const response = await fetch(postAPI_URL,options);

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Redirect</title>
	</head>
	<body>
		<h2>このページのURL</h2>
		<p>{url}</p>
		<h2>取得した認可コード</h2>
		<!-- <p>code = {code}</p>
		<h2>アクセストークン</h2>
		<p>ログ：{response.status}</p>
		<p>修正を加えました</p> -->
	</body>
</html>
